.main {
  display: flex;
  justify-content: center;
}

.box {
  text-align: center;
  width: 500px;
  height: 500px;
  margin: 10px;
}

.win {
  border: 3px solid green;
  color: green;
}
.lose {
  border: 3px solid red;
  color: red;
}
.tie {
  border: 3px solid black;
  color: black;
}

.box img {
  width: 400px;
  height: 300px;
}